.conteinerPrincipal {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}

.conteinerPrincipal {
  position: relative;
}

.botinPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 auto
}

.descripciónProductos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}

.botines1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

footer {
  background-color: black;
  color: grey;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.columa button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  width: 300px;
  background: none;
  border:none;
  margin: 0 auto;
  margin-bottom: 15px;
}

.containerFooter .btn-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 auto;
}

.tarjetas{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}


.bannerCarrito {
  display: flex;
  margin: 20px;
  padding: 20px;
  border-radius: 120px;
  width: 100%;
  
  
  
  
  }
  
  .botones123 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  }
  
  
  .categoriasCarrito {
    display: flex;
    flex: row;
    align-items: center;
    justify-content:space-around;
    margin-left: 100px;
  
  }
  
  
  .categoriasCarrito2 {
    display: flex;
    flex: row;
    align-items: center;
    justify-content:center;
  }